<!DOCTYPE html>
<html>
<head>
  <title>TestMetaTags</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%=
      display_meta_tags :site => 'My website'
  %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
